<% content_for :title do
     "Search Results for… nothing"
   end %>

<div class="page-header">
  <h1>You searched for nothing.</h1>
</div>

<p>
Yeah, that usually doesn't work very well. But while your here, here's a tip: try entering the konami
code on your keyboard and see what happens (or just swipe and tap if you are using a smartphone).
</p>

<p class="hidden-phone">
If you want to actually search for something, just use the search bar at the top of the sidebar to the left.
</p>

<p class="visible-phone">
If you want to actually search for something, just use the search bar just below.
</p>
