<% content_for :title do
     "Log In"
   end %>
<div class="page-header"><h1>Search Results</h1></div>
<% if @results.count >= 1 %>
<p>Results for <%= params[:search] %></p>
<% @results.each do |result| %>
<p><%= if result.is_a? Page
         link_to_page result
       else
         if result.is_a? Album
           link_to result.name, result
         else
           link_to result.title, result
         end
       end %></p>
<% end %>
<% else %>
<p>No matches for <%= params[:search] %></p>
<% end %>
