<div class="alerts-holder">
    <div id="konamicodething" class="alert fade in alert-success">
        <button class="close" data-dismiss="alert">&times;</button>
        Woah, you know the Konami code! Unfortunately, we can't give you any extra lives. Or anything else. Carry on.
    </div>

    <%= bootstrap_flash %>
</div>
