<%- model_class = Event -%>
<% content_for :title do
     "Calendar"
   end %>

<% content_for :breadcrumb do %>
<ul class="breadcrumb span12">
  <li><%= link_to "Home", root_path%><span class="divider">/</span></li>
  <li class="active">Calendar</li>
</ul>
<% end %>

<div class="page-header">
  <h1> Calendar </h1>
</div>
<% if can? :write, Event %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
<% end %>
<div id='calendar'></div>
<br />
<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    events: '/events.json'
  });
    $("calendar .fc-header")[0].hidden = true;
    $("calendar .fc-content")[0].hidden = true;
});
</script>
