<br />
<p>
<% @pages.in_groups_of(3) { | groupofpage |%>
  <div class="row-fluid">
    <% groupofpage.each { | page | %>
      <% if (page != nil)  %>
        <div class="span4 postWithBorder">
        <h2>
          <%= link_to(page.title, page) %>
        </h2>
        </div>
      <% end %>
    <% } %>
  </div>
<% } %>
</p>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_page_path,
            :class => 'btn btn-primary' %>
