<table class="table">
<% @pages.in_groups_of(3) { | groupofpage |%>
	<tr>
		<% groupofpage.each { | page | %>
			<% if (page != nil)  %>
				<td>
					<%= link_to(page.title, page) %>
				</td>
			<% end %>
		<% } %>
<% } %>
	</tr>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_page_path,
            :class => 'btn btn-primary' %>
