<div class="page-header">
	<h1>
		New Document
	</h1>
</div>

<% if @document.errors.any? %>
<% @document.errors.full_messages.each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>

<%= render :partial => "form" %>
