<%- model_class = Album -%>
<% content_for :title do
     "Photos"
   end %>

<div class="page-header">
  <h1><%= "Album".pluralize %></h1>
</div>

<% @albums.in_groups_of(3) do |grp| %>
  <div class="row-fluid">
  <% grp.each do |albm| %>
    <% if albm %>
      <div class="span4 twitter-border">
      <h4><%= link_to albm.name, album_path(albm) %></h4>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>

<% if can? :write, current_user %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_album_path,
            :class => 'btn btn-primary' %>
<% end %>
